{% extends "layout.html" %}
{% block mainbody %}


  <main id="main" class="main">

    <div class="pagetitle" style="padding-top: 2%;">
      <h1></h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">System Info</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


    <div class="card">
        <div class="card-body">
          <h5 class="card-title">SYSTEM INFO </h5>

          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">System Stats</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Processes</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Network</button>
            </li>
          </ul>
          <div class="tab-content pt-2" id="borderedTabContent">
            <div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
                <section class="section contact">

                    <div class="row" style="padding: 5%;">
          
          
                        <div class="row">
                            <div class="col-lg-3" style="padding: 3%;">
                              <div class="info-box card">
                                  <h2 id="CPU Information ">
                                      <i class="bi bi-cpu" method="GET"></i>
                                      <div id="CPU Information">
                                      <span id="Total Percentage"></span> %
                                    </div>
                                    </h2>
                                  <div id="System Information"> 
                                    <h3 id="Machine"></h3>                                </h3>
                                    <p>
                                      Machine: <span id="Architecture"></span>  <br>    
                                      Node: <span id="Node"></span> <br>
                                      System: <span id="System"></span> <br>
                                      Cores: <span id="Cores"></span> <br>
                                                                                                    
                                    </p>
                                </div>
                              </div>
                            
                            </div>
                            <div class="col-lg-3" style="padding: 3%;">
                            <div class="info-box card">
                                <h2 id="Memory Information">
                                    <i class="bi bi-memory"></i>
                                    <span id="Percentage"></span> %
                                </h2>    
                            
                                <h3>Memory</h3>
                                <p> RAM:       <span id="Used"></span> / <span id="Total"></span> <br>
                                    Available: <span id="Available"></span> <br>
                                    Free:      <span id="Free"></span> <br>
                                </p>
                            </div>
                            </div>
                            <div class="col-lg-3" style="padding: 3%;">
                              <div class="info-box card">
                                  <h2 >
                                      <i class="bi bi-sd-card"></i>
                                      <span id="disk-main-data"></span> 
                                  </h2>    
                              
                                  <h3>Disk Usage</h3>
                                  <p> Used:       <span id="disk-used-data"></span> / <span id="disk-total-data"></span> <br>
                                      Available: <span id="disk-avail-data"></span> <br>
                                      Partition:      <span id="disk-partition-data"></span> <br>

                                    </p>
                              </div>
                              </div>
                            <div class="col-lg-3"style="padding: 3%;">
                            <div class="info-box card">
                                <h2 id="System Status">
                                <i class="bi bi-thermometer-half"></i>
                                <span id="Temperature">0</span>ºC
                                </h2>
                                <h3>Temperature</h3>
                                <p> Uptime        <span id="Uptime"></span><br>
                                    Load Average: <span id="Load Average"></span> <br>
                                </p>
                            </div>
                            </div>
                            <p>
                            For Detailed Stats with graphs visit <a href="https://amplify.nginx.com/dashboard/49878" target="_blank">here</a>
                        </p>
                        </div>
          
                        </div>
                        
                    </section>            </div>
            <div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
              <section class="section">
                <div class="col-lg-12" >
        
                  <div class="card" style="background-color: transparent; border-radius: 10px;">
                    <div class="card-body" style="padding:1%; overflow: hidden; border-radius: 10px;">
                      <div style="border-radius: 20px; padding-top:57%; position:relative; display:flexbox;  overflow: hidden;">
                        <iframe width="100%" height="100%"
                          src="http://192.168.2.78:5000/process-ui"
                          frameborder="0" allowfullscreen="" style="position:absolute; top:0; left: 0">
                        </iframe>
                      </div>
                      
                    </div>
                  </div>
        
        
        
              </div>
            </section>           
         </div>
            <div class="tab-pane fade" id="bordered-contact" role="tabpanel" aria-labelledby="contact-tab">
          <!-- Special title treatmen -->
          <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-pills card-header-pills">

              </ul>
            </div>
            <div class="card-body">
              <h5 class="card-title">Network Speed Test</h5>
              <p class="card-text"></p>
                  <button id="fetchDataBtn">Fetch Data</button>

                  <!-- <button onclick="runPythonScript()" type="button" class="btn btn-primary">Run Test</button> -->

              </button>
            </div>
          </div><!-- End Special title treatmen -->

            </div>
          </div><!-- End Bordered Tabs -->





  </main><!-- End #main -->

 

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>


{% endblock mainbody %}